ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    display: block;
    margin-top: auto;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}